@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 200vh;
}

html {
  font-family: "Roboto", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cb997e;
  z-index: 10;
}

nav div.logo a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

nav ul.nav-list {
  position: absolute;
  top: 8vh;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 60%;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  background-image: url(../img/navList.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul.nav-list.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav ul.nav-list li {
  opacity: 0;
  overflow: hidden;
}

nav ul.nav-list li a {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #264653;
}

nav ul.nav-list li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 100%;
  height: 2px;
  background-color: #264653;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul.nav-list li a:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 1024px) {
  nav ul.nav-list {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 40%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: none;
  }
  nav ul.nav-list li {
    opacity: 1;
  }
  nav ul.nav-list li a {
    font-weight: normal;
    color: #fff;
  }
  nav ul.nav-list li a::before {
    background-color: #fff;
  }
}

nav div.burger {
  cursor: pointer;
}

nav div.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes navListItemFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navListItemFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

nav div.burger.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

nav div.burger.toggle .line2 {
  opacity: 0;
}

nav div.burger.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@media (min-width: 1024px) {
  nav div.burger {
    display: none;
  }
}

.container {
  padding-top: 8vh;
}

.container header {
  position: relative;
  height: 92vh;
  background-image: url("../img/header.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container header .hello {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  text-transform: uppercase;
  color: #264653;
}
/*# sourceMappingURL=style.css.map */